.main-loader {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  width: 15rem;
  height: 15rem;
}

.loader {
  border: 7px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  width: 15rem;
  height: 15rem;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
