* {
  outline: none;
}

.main-searchbar {
  display: flex;
  align-items: center;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-bottom: 1.5rem;
}

.main-searchbar input {
  padding: 0.5rem 1rem;
  background-color: white;
  font-size: 1rem;
  border: 0;
}

.main-searchbar button {
  display: flex;
  align-items: center;
  background-color: white;
  padding-right: 1rem;
  color: black;
  border: 0;
  cursor: pointer;
  transition: 0.3 all;
}

.main-searchbar button svg {
  width: 1rem;
}
