.main-filter {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.main-filter select {
  padding: 0.7rem 1.5rem;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid rgb(231, 231, 231);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .main-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0 3rem 2rem 3rem;
  }

  .main-filter select {
    width: 100%;
    padding: 0.7rem 1.5rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: 1px solid rgb(231, 231, 231);
    text-align: center;
  }
}
